.textMessage {
  background: white;
  border: 2px solid #787c7e;
  border-radius: 12px;

  position: absolute;
  inset: 0px;

  width: 24rem;
  height: 20rem;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }

  &.won {
    border: 2px solid var(--correct-letter-color);

    &.hidden {
      display: none;
    }
  }

  &.lost {
    border: 2px solid var(--lose-game-color);

    &.hidden {
      display: none;
    }
  }
}

.closeButton {
  position: absolute;
  top: -2px;
  left: calc(100% - 28px);

  width: 30px;
  height: 30px;

  border-radius: 10px;
  border: 2px solid #787c7e;

  &.hidden {
    display: none;
  }
}
